@charset "UTF-8";
body{
    margin: 0px;
    margin-top: 0px;
    font-family: Arial, sans-serif;
}
header{
    background-image: url(../img/headerIndex.png);
    background-size: cover;
    display: grid;
    height: 28rem;
}
#divH{
    margin: auto;
    height: 20rem;
    width: 50rem;
}
h1{
    text-align: left;
    color: rgb(174, 168, 253);
    font-size: 4rem;
}
#divH p{
    color: whitesmoke;
    font-size: 1.2rem;
}
