@charset "UTF-8";
html{
    margin-top: -3.2%;
    padding: 0px;
}
body{
    margin: 0px;
    margin-top: 0px;
    font-family: Arial, sans-serif;
}
header{
    background: url(../img/headerIndex.jpg) center 400px;
    background-size: cover;
    border-radius: 2%;
    padding-top: 30px;
}
#divH{
    margin: auto;
    height: 20rem;
    width: 50rem;
}
h1{
    text-align: left;
    color: rgb(174, 168, 253);
    font-size: 4rem;
}
#divH p{
    color: whitesmoke;
    font-size: 1.2rem;
}
#divH nav{
    margin-left: 10px;
}
#divH nav a{
    margin: 5px;
    background-color: rgb(174, 168, 253);
    padding: 10px;
    border-radius: 15px;
    text-decoration: none;
    color:rgb(46, 46, 46);
    font-weight: 600;
}
#divH nav a:hover{
    background-color: rgb(127, 118, 255);
}